<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abbott" sortOrder="160" translate="label">
            <label>Abbott</label>
        </tab>
        <section id="customertwofactorauth" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer 2FA</label>
            <tab>abbott</tab>
            <resource>Abbott_CustomerTwoFactorAuth::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <comment>Email template is chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="otp_expiry" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OTP Expiration Period (minutes)</label>
                    <comment>Please enter a number 1 or greater in this field.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="otp_limit" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Number of Resend OTP Requests</label>
                    <comment>Limit the number of resend OTP request per hour. Use 0 to disable</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="locked_until" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locked Until</label>
                    <comment>Add time in minutes for lock customer.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
